Repository HYF-Class20/agile-development-group2-all-about-trees, pull requests merged in 2023-04, with the labels that each got.

#12 Draft Communication
  planning/README.md
  planning/assets/personaalex.jpg
  planning/communication.md
  planning/constraints.md
  planning/user-personas.md
Labels: documentation, planning, md

#16 Completing communication.md with group rules and removing Mouhamed availability hours
  planning/communication.md
  planning/constraints.md
Labels: documentation, planning, md

#14 Completing Constraints file with changes on section external and internal:voluntary
  planning/constraints.md
Labels: documentation, planning, md

#18 update user-personas.md
  planning/assets/personalucy.jpg
  planning/user-personas.md
Labels: documentation, md

#20 update backlog.md
  planning/backlog.md
Labels: documentation, md

#22 add Wireframe picture
  planning/wireframe-1.jpg
  planning/wireframe-2.jpg
  planning/wireframe-3.jpg
  planning/wireframe-4.jpg
  planning/wireframe-5.jpg
Labels: image/screenshot

#8 First Draft README
  README.md
Labels: documentation, planning, md

#24 Complete file of Retrospective
  planning/retrospective.md
Labels: documentation, planning, retrospective, md

#30 Setup HTML-CSS for our repo wireframe
  planning/development-strategy.md
  styles/index.css
  styles/index.html
  styles/something.css
Labels: documentation, planning

#34 wireframe
  planning/assets/personaalex.jpg
  planning/assets/personalucy.jpg
  planning/assets/wireframe-0.svg
  planning/assets/wireframe-1.svg
  planning/design.md
  planning/screenshot.jpg
  planning/wireframe-1.jpg
  planning/wireframe-2.jpg
  planning/wireframe-3.jpg
  planning/wireframe-4.jpg
  planning/wireframe-5.jpg
  planning/wireframe.svg
Labels: documentation, image/screenshot, Correction

#36 change the backlog.md
  planning/backlog.md
Labels: md, Correction

#37 update file name wireframe
  planning/design.md
Labels: bug
